@page "/"
@page "/index.html"
@page "/{*path:nonfile}"
@inject IJSRuntime JsRuntime

<PageTitle>Broughlike MonoGame</PageTitle>

<div id="canvasHolder" style="background:#361c5c;position:fixed;inset:0;width:100vw;height:100vh;overflow:hidden;display:grid;place-items:center;">
    <canvas id="theCanvas" width="832" height="576" style="touch-action:none;display:block;image-rendering:pixelated;max-width:100vw;max-height:100vh;"></canvas>
</div>
